<section class="cards-section">

 
  <div class="cards-grid">

     <div class="table-container">
      <table class="cases-table">
        <thead>
          <tr>
            <th>Invoice No</th>
            <th>Invoice Date</th>
            <th>Seller GSTIN</th>
            <th>Seller Pan</th>
            <th>Buyer GSTIN</th>
             <th>View</th>
          </tr>
        </thead>
         <tbody>
    <tr>
      <td>INV-1001</td>
      <td>2025-07-15</td>
      <td>27ABCDE1234F1Z5</td>
      <td>ABCDE1234F</td>
      <td>29XYZPQ7890L1Z2</td>
      <td><a [routerLink]="['/Procurement']">View</a></td>
    </tr>
    <tr>
      <td>INV-1002</td>
      <td>2025-07-18</td>
      <td>07PQRSX5678K1Z8</td>
      <td>PQRSX5678K</td>
      <td>19LMNOP2345Q1Z9</td>
      <td><a [routerLink]="['/Procurement']">View</a></td>
    </tr>
   
  
  </tbody>
      </table>

     
    </div>
    
    
  </div>
</section>

