<section class="cards-section">

  <div class="cases-header">
    <div class="logo-container">
      <div>
        <h2><img src="../../../../assets/images/logo.png" class="logo-image" alt=""></h2>
      </div>

      <h2 class="main-title">{{role == 'admin' ? "Entity List" : "Projects"}}</h2>

    </div>


    <div class="user" (click)="toggleDropdown()">
      <div class="avatar">
        <img src="https://cdn-icons-png.flaticon.com/512/10337/10337609.png" class="logo-image" alt="User" />
      </div>
      <div class="logo-container">
        <p class="name">{{ username | titlecase }} ({{ role | titlecase }})</p>
      </div>

      <!-- Dropdown Menu -->
      <div class="dropdown" *ngIf="dropdownOpen">
        <ul>
          <li (click)="onOptionSelect('profile')">Profile</li>
          <li (click)="onOptionSelect('settings')">Settings</li>
          <li (click)="onOptionSelect('logout')">Logout</li>
        </ul>
      </div>
    </div>



    <button class="btn-primary" (click)="toggleAddCase()" *ngIf="role == 'admin'">
      <svg class="icon" viewBox="0 0 24 24" width="16" height="16">
        <line x1="12" y1="5" x2="12" y2="19"></line>
        <line x1="5" y1="12" x2="19" y2="12"></line>
      </svg> Create Company/Entity
    </button>
  </div>







  <div class="cards-grid">
    <div class="project-card" (click)="enableRouterReconciliation()">
      <div class="card-background"></div>
      <div class="card-content">
        <div class="badge">
          <span class="dot"></span>In Progress
        </div>

        <div class="controls">
          <!-- <div class="visibility-btn">
              <i class="far fa-eye"></i>
              Public
            </div> -->
          <div class="menu-btn">
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>

        <div class="card-header">
          <div class="logo">P</div>
          <div class="project-info">
            <div class="project-name">Purchase to Pay</div>
            <div class="project-date">
              <i class="far fa-calendar-alt"></i>
              Started on Mar 15, 2026
            </div>
          </div>
        </div>



        <div class="card-footer">
          <div class="team-members">
            <div class="members">
              <div class="member">
                <img src="/api/placeholder/40/40" alt="Team member">
              </div>


              <div class="member more-indicator">+3</div>
            </div>
          </div>
          <div class="domain-tag">

            <b> 18</b>
          </div>
        </div>

        <!-- <div class="progress-container">
            <div class="progress-header">
              <div class="progress-title">Project Completion</div>
              <div class="progress-percentage">68%</div>
            </div>
            <div class="progress-bar">
              <div class="progress-fill"></div>
            </div>
          </div> -->
      </div>
    </div>
    <ng-container *ngIf="role == 'admin'">
      <div class="project-card" routerLink="/projects_flow_screen" *ngFor="let entity of entities_data"
        (click)="entityId(entity)">
        <div class="card-background"></div>
        <div class="card-content">
          <div class="badge">
            <span class="dot"></span>In Progress
          </div>

          <div class="controls">
            <!-- <div class="visibility-btn">
              <i class="far fa-eye"></i>
              Public
            </div> -->
            <div class="menu-btn">
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </div>

          <div class="card-header">
            <div class="logo">P</div>
            <div class="project-info">
              <div class="project-name">{{entity.name}}</div>
              <div class="project-date">
                <i class="far fa-calendar-alt"></i>
                Started on Mar 15, 2025
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="team-members">
              <div class="members">
                <div class="member">
                  <img src="/api/placeholder/40/40" alt="Team member">
                </div>
                <div class="member more-indicator">+3</div>
              </div>
            </div>
            <div class="domain-tag">

              <b> 18</b>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="role == 'user'">
      <div class="project-card" *ngFor="let entity of entities_data" (click)="connector(entity)">
        <div class="card-background"></div>
        <div class="card-content">
          <div class="badge" [ngStyle]="{
       'color': entity.is_project_active ? '#5925dc' : 'red',
     }">
            <span class="dot" [ngStyle]="{
       'background-color': entity.is_project_active ? '#5925dc' : 'red'
     }"></span>{{entity.is_project_active?"In Progress":"Inactive"}}
          </div>

          <div class="controls">
            <!-- <div class="visibility-btn">
              <i class="far fa-eye"></i>
              Public
            </div> -->
            <div class="menu-btn">
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </div>

          <div class="card-header">
            <div class="logo">P</div>
            <div class="project-info">
              <div class="project-name">{{entity.name}}</div>
              <div class="project-date">
                <i class="far fa-calendar-alt"></i>
                Started on {{entity.created_at | date:'shortDate'}}
              </div>
            </div>
          </div>



          <div class="card-footer">
            <div class="team-members">
              <div class="members">
                <div class="member">
                  <img src="/api/placeholder/40/40" alt="Team member">
                </div>


                <div class="member more-indicator">+3</div>
              </div>
            </div>
            <div class="domain-tag">

              <b> 18</b>
            </div>
          </div>
        </div>
      </div>
    </ng-container>



  </div>
</section>

<div class="side-panel" [class.active]="isAddCaseOpen">
  <div class="side-panel-header">
    <h3>Add Company/Entity</h3>
    <button class="btn-close" (click)="closeAddCase()">
      <svg class="icon" viewBox="0 0 24 24" width="20" height="20">
        <line x1="18" y1="6" x2="6" y2="18"></line>
        <line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>
    </button>
  </div>
  <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
    <div class="side-panel-content">
      <!-- Form Fields -->
      <div class="form-group">
        <label>Title<span class="required">*</span></label>
        <input type="text" placeholder="Enter Title" formControlName="name">
      </div>

      <div class="form-group">
        <label>Description<span class="required">*</span></label>
        <input type="text" placeholder="Enter Description" formControlName="description">

      </div>

      <div class="form-actions">
        <button class="btn-submit">
          <svg class="icon-sm" viewBox="0 0 24 24" width="16" height="16">
            <line x1="12" y1="5" x2="12" y2="19"></line>
            <line x1="5" y1="12" x2="19" y2="12"></line>
          </svg> Add Company/Entity
        </button>
      </div>
    </div>
  </form>

</div>