<div class="form-content">
  <div class="form-container">
    <!-- Purchase Order Details -->
    <div class="form-section">
      <div class="section-header">
        <div class="section-title">

          Purchase Order Details
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label class="required">Purchase Order</label>
          <input type="text" class="form-control" [value]="poDetails?.po_number" />
          <div class="input-icon">

          </div>
        </div>
        <div class="form-group">
          <label>Purchase Order Date</label>
          <input type="text" class="form-control" [value]="poDetails?.po_date" readonly />
        </div>
        <div class="form-group">
          <label>Vendor Ref:</label>
          <input type="text" class="form-control" [value]="poDetails?.vendor_reference" readonly />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label>Delivery Terms</label>
          <input type="text" class="form-control" [value]="poDetails?.delivery_terms" />
        </div>
        <div class="form-group">
          <label class="required">Payment Terms</label>
          <input type="text" class="form-control" [value]="poDetails?.payment_terms" />
          <div class="input-icon">

          </div>
        </div>
        <div class="form-group">
          <label>Shipment Mode</label>
          <input type="text" class="form-control" [value]="poDetails?.shipment_mode" />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label>Warranty Period</label>
          <input type="text" class="form-control" [value]="poDetails?.warranty_period" />
        </div>
        <div class="form-group">
          <label> Delivery Period </label>
          <input type="text" class="form-control" [value]="poDetails?.delivery_period" />
        </div>
        <div class="form-group">
          <label> Contact Person </label>
          <input type="text" class="form-control" [value]="poDetails?.contact_person" />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label> Mobile Number </label>
          <input type="text" class="form-control" [value]="poDetails?.mobile_number" />
        </div>
        <div class="form-group">
          <div class="ghost-placeholder"></div>
        </div>
      </div>

      <a href="#" class="show-more">
        Show More
        <svg class="svg-icon svg-icon--sm">
          <use xlink:href="#icon-more-down"></use>
        </svg>
      </a>
    </div>

    <!-- Bill To -->
    <div class="form-section">
      <div class="section-header">
        <div class="section-title">

          Bill To
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label class="required">Company Name</label>
          <input type="text" class="form-control" [value]="poDetails?.bill_to?.company_name" />
        </div>
        <div class="form-group">
          <label>Address</label>
          <input type="text" class="form-control" [value]="poDetails?.bill_to?.address" readonly />
        </div>
        <div class="form-group">
          <label>State</label>
          <input type="text" class="form-control" [value]="poDetails?.bill_to?.state" readonly />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label>State Code</label>
          <input type="text" class="form-control" [value]="poDetails?.bill_to?.state_code" />
        </div>
        <div class="form-group">
          <label class="required">GSTIN</label>
          <input type="text" class="form-control" [value]="poDetails?.bill_to?.gstin" />
        </div>
        <div class="form-group">
          <label class="required">PAN</label>
          <input type="text" class="form-control" [value]="poDetails?.bill_to?.pan" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label>CIN</label>
          <input type="text" class="form-control" [value]="poDetails?.bill_to?.cin" />
        </div>
        <div class="form-group">
          <label>Contact Name</label>
          <input type="text" class="form-control" [value]="poDetails?.bill_to?.contact_name" />
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" [value]="poDetails?.bill_to?.email" />
        </div>
        <div class="form-group">
          <label>Mobile</label>
          <input type="text" class="form-control" [value]="poDetails?.bill_to?.mobile" />
        </div>
      </div>
      <a href="#" class="show-more">
        Show More
        <svg class="svg-icon svg-icon--sm">
          <use xlink:href="#icon-more-down"></use>
        </svg>
      </a>
    </div>

    <!-- Supplier -->

    <!-- add supplier-->
    <div class="form-section">
      <div class="section-header">
        <div class="section-title">

          Supplier
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label class="required">Company Name</label>
          <input type="text" class="form-control" [value]="poDetails?.supplier?.company_name" />

          <!-- Verification message -->
          <div *ngIf="true" class="mt-1">
            <small [ngClass]="{
        'text-secondary': gstinVerfiedObject?.name != poDetails?.supplier?.company_name,
        'text-success': gstinVerfiedObject?.name === poDetails?.supplier?.company_name,
        'text-danger': gstinVerfiedObject?.name != poDetails?.supplier?.company_name,
      }">

              {{
              gstinVerfiedObject == null ? 'Not verified':

              gstinVerfiedObject?.name?.trim()?.toLowerCase() ==
              poDetails?.supplier?.company_name?.trim()?.toLowerCase()
              ? 'Company Name verified successfully ✅'
              : "Invalid Company Name ❌"
              }}
            </small>
          </div>

        </div>
        <div class="form-group">
          <label>Address</label>
          <input type="text" class="form-control" [value]="poDetails?.supplier?.address" />
        </div>
        <div class="form-group">
          <label>State</label>
          <input type="text" class="form-control" [value]="poDetails?.supplier?.state" />
          <div *ngIf="true" class="mt-1">
            <small [ngClass]="{
        'text-secondary': gstinVerfiedObject?.state != poDetails?.supplier?.state,
        'text-success': gstinVerfiedObject?.state === poDetails?.supplier?.state,
        'text-danger': gstinVerfiedObject?.state != poDetails?.supplier?.state,
      }">


              {{
              gstinVerfiedObject == null ? 'Not verified':

              getStateInfo(poDetails?.supplier?.gstin).state === poDetails?.supplier?.state
              ? 'State Name Verfied ✅'
              : "Invalid State ❌"
              }}
            </small>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label>State Code</label>
          <input type="text" class="form-control" [value]="getStateInfo(poDetails?.supplier?.gstin).code" />


          <small [ngClass]="{
        'text-secondary': !getStateCodeValidation(getStateInfo(poDetails?.supplier?.gstin).code,poDetails?.supplier?.gstin),
        'text-success': getStateCodeValidation(getStateInfo(poDetails?.supplier?.gstin).code,poDetails?.supplier?.gstin),
        'text-danger': !getStateCodeValidation(getStateInfo(poDetails?.supplier?.gstin).code,poDetails?.supplier?.gstin),
      }">


            {{
            gstinVerfiedObject == null ? 'Not verified':

            getStateCodeValidation(getStateInfo(poDetails?.supplier?.gstin).code,poDetails?.supplier?.gstin)
            ? 'State Code Verfied ✅'
            : "Invalid State Code❌"
            }}
          </small>






        </div>


        <div class="form-group">
          <label class="required">GSTIN</label>
          <div class="input-group">
            <input type="text" class="form-control" [value]="poDetails?.supplier?.gstin" />
            <button *ngIf="gstinVerfiedObject == null" class="btn btn-primary btn-verify" type="button"
              (click)="verifyGSTIN(poDetails?.supplier?.gstin)">
              Verify
            </button>
            <div *ngIf="gstinVerfiedObject">
              <!-- Dropdown -->
              <select *ngIf="!showDatePicker" class="verify-select-box form-control" (change)="onSelectOption($event)">
                <option value="">Select Option</option>
                <option value="date">Date Picker</option>
                <option value="next">Next Invoice</option>
              </select>

              <!-- Date Picker -->
              <input *ngIf="showDatePicker" type="date" class="form-control mt-2" [(ngModel)]="selectedDate" />
            </div>
          </div>

          <!-- Verification message -->
          <div *ngIf="verificationStatus" class="mt-1">
            <small [ngClass]="{
        'text-secondary': verificationStatus === 'id_not_found',
        'text-success': verificationStatus === 'id_found',
        'text-danger': verificationStatus === 'id_not_found'
      }">


              {{
              gstinVerfiedObject == null ? 'Not verified':

              verificationStatus === 'id_found'
              ? 'GSTIN verified successfully ✅'
              : "Invalid GSTIN ❌"
              }}
            </small>
          </div>




        </div>


        <div class="form-group">
          <label class="required">PAN</label>
          <div class="input-group">
            <input type="text" class="form-control" [value]="poDetails?.supplier?.pan" />
            <button class="btn btn-primary btn-verify" type="button" (click)="verifyPAN(poDetails?.supplier?.pan)">
              Verify
            </button>
          </div>

          <!-- Verification message -->
          <div *ngIf="verificationStatus" class="mt-1">
            <small [ngClass]="{
        'text-secondary': panVerifiedObject?.status === 'id_not_found',
        'text-success': panVerifiedObject?.status === 'id_found',
        'text-danger': panVerifiedObject?.status === 'id_not_found'
      }">
              {{
              panVerifiedObject == null ? 'Not verified':

              panVerifiedObject?.status === 'id_found'
              ? 'Pan verified successfully ✅'
              : "Invalid PAN ❌"
              }}
            </small>
          </div>
        </div>

      </div>
      <div class="form-row">
        <div class="form-group">
          <label>CIN</label>
          <input type="text" class="form-control" />
        </div>


        <div class="form-group">
          <label>UDYAM Registration No.</label>
          <!-- <input type="text" class="form-control" /> -->

          <div class="input-group">
            <input type="text" class="form-control"
              [value]="poDetails?.supplier?.udyam_regno ? poDetails?.supplier?.udyam_regno:poDetails?.supplier?.msme_regno" />

            <ng-container
              *ngIf="poDetails?.supplier?.udyam_regno ? poDetails?.supplier?.udyam_regno:poDetails?.supplier?.msme_regno">
              <button class="btn btn-primary btn-verify" type="button"
                (click)="verifyMems(poDetails?.supplier?.udyam_regno ? poDetails?.supplier?.udyam_regno:poDetails?.supplier?.msme_regno)">
                Verify
              </button>

            </ng-container>



          </div>
          <!-- Verification message -->
          <div *ngIf="memsVerifiedObject" class="mt-1">
            <small [ngClass]="{
        'text-secondary': verificationStatusMems != 'success',
        'text-success': verificationStatusMems === 'success',
        'text-danger': verificationStatusMems != 'success'
      }">
              {{
              memsVerifiedObject == null ? 'Not verified':

              verificationStatusMems == 'success'
              ? 'MEMS verified successfully ✅'
              : "Invalid MEMS ❌"
              }}
            </small>
          </div>






        </div>



        <div class="form-group">
          <label>Contact Name</label>
          <input type="text" class="form-control" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label>Mobile</label>
          <input type="text" class="form-control" />
        </div>
        <!-- <div class="form-group">
                    <div class="ghost-placeholder"></div>
                  </div> -->
      </div>
      <a href="#" class="show-more">
        Show More
        <svg class="svg-icon svg-icon--sm">
          <use xlink:href="#icon-more-down"></use>
        </svg>
      </a>
    </div>


    <!-- Shipping -->
    <div class="form-section">
      <div class="section-header">
        <div class="section-title">

          Shipping
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label class="required">Company Name</label>
          <input type="text" class="form-control" [value]="poDetails?.shipping?.company_name" />
        </div>
        <div class="form-group">
          <label>Address</label>
          <input type="text" class="form-control" [value]="poDetails?.shipping?.shipping_address" readonly />
        </div>
        <div class="form-group">
          <label>State</label>
          <input type="text" class="form-control" [value]="poDetails?.shipping?.state" readonly />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label>State Code</label>
          <input type="text" class="form-control" [value]="poDetails?.shipping?.state_code" />
        </div>
        <div class="form-group">
          <label class="required">GSTIN</label>
          <input type="text" class="form-control" [value]="poDetails?.shipping?.gstin_buyer" />
        </div>
        <div class="form-group">
          <label class="required">PAN</label>
          <input type="text" class="form-control" [value]="poDetails?.shipping?.pan" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label>CIN</label>
          <input type="text" class="form-control" [value]="poDetails?.shipping?.cin" />
        </div>
        <div class="form-group">
          <label>Contact Name</label>
          <input type="text" class="form-control" [value]="poDetails?.shipping?.contact_name" />
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" [value]="poDetails?.shipping?.email" />
        </div>
        <div class="form-group">
          <label>Mobile</label>
          <input type="text" class="form-control" [value]="poDetails?.shipping?.mobile" />
        </div>
      </div>
      <a href="#" class="show-more">
        Show More
        <svg class="svg-icon svg-icon--sm">
          <use xlink:href="#icon-more-down"></use>
        </svg>
      </a>
    </div>

    <!-- Purchase Order Line Items -->
    <div class="form-section">
      <div class="section-header">
        <div class="section-title">

          Purchase Order Line Items
          <div class="badge">{{ poDetails?.line_items?.length }}</div>
        </div>
        <div class="select-container">
          <select class="custom-select">
            <option>Standard</option>
            <option>Detailed</option>
            <option>Summary</option>
          </select>
          <span class="select-arrow">
            <svg class="svg-icon">
              <use xlink:href="#icon-dropdown"></use>
            </svg>
          </span>
        </div>
      </div>

      <div class="data-table-container" [style]="{'overflow': 'auto'}">
        <table class="data-table">
          <thead>
            <tr>
              <th class="checkbox-cell">
                <input type="checkbox" class="custom-checkbox">
              </th>
              <th>Item Name</th>
              <th>Oem Part Code</th>
              <th>Quantity</th>
              <th>UOM</th>
              <th>Unit Price</th>
              <th>Discount</th>
              <th>Taxable</th>
              <th>GST Rate</th>
              <th>GST Amount</th>
              <th>Billable Value</th>
              <th>Total Quantity</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of poDetails?.line_items">
              <td class="checkbox-cell">
                <input type="checkbox" class="custom-checkbox">
              </td>
              <td> {{row?.item_name}} </td>
              <td> {{row?.oem_part_code}} </td>
              <td> {{row?.quantity}} </td>
              <td> {{row?.uom}} </td>
              <td> {{row?.unit_price}} </td>
              <td> {{row?.discount}} </td>
              <td> {{row?.taxable}} </td>
              <td> {{row?.gst_rate}} </td>
              <td> {{row?.gst_amount}} </td>
              <td> {{row?.billable_value}} </td>
              <td> {{row?.total_qty}} </td>
              <td>
                <button class="icon-button" style="margin: -8px">
                  <svg class="svg-icon">
                    <use xlink:href="#icon-more"></use>
                  </svg>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Summary -->
    <div class="form-section">
      <div class="section-header">
        <div class="section-title">

          Summary
          <div class="badge">{{ summaryLineItem?.length }}</div>
        </div>
      </div>
      <div class="data-table-container" [style]="{ overflow: 'auto' }">
        <div *ngFor="let row of summaryLineItem" style="margin-bottom: 20px;">
          <table class="data-table" border="1" style="width: 100%; border-collapse: collapse;">
            <tbody>
              <tr>
                <th>Total Quantity</th>
                <td>{{ row?.total_qty }}</td>
              </tr>
              <tr>
                <th>Total Rate</th>
                <td>{{ row?.total_rate }}</td>
              </tr>
              <tr>
                <th>Total Discount</th>
                <td>{{ row?.total_discount }}</td>
              </tr>
              <tr>
                <th>Total Taxable Amount</th>
                <td>{{ row?.total_taxable_amount }}</td>
              </tr>
              <tr>
                <th>Total GST Amount</th>
                <td>{{ row?.total_gst_amt }}</td>
              </tr>
              <tr>
                <th>Total Billable Value</th>
                <td>{{ row?.total_billable_value }}</td>
              </tr>
              <tr>
                <th>Charges and Deductions</th>
                <td>{{ row?.charges_and_deductions }}</td>
              </tr>
              <tr>
                <th>Total Purchase Order Amount</th>
                <td>{{ row?.total_purchase_order_amount }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Terms and Conditions -->
    <div class="form-section">
      <div class="section-header">
        <div class="section-title">

          Terms and Conditions
          <div class="badge">{{ termsAndConditions?.value }}</div>
        </div>
      </div>

      <div class="attachment-card">
        <div class="attachment-info">
          <div class="attachment-details">
            <div>
              <span style="color: var(--text-tertiary)"> {{ termsAndConditions?.terms_conditions }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>