@import '../../../formdata.scss';

@import '../../../classfication.scss';
@import '../../../extraction.scss';


.text-success {
  color: green;
}

.text-danger {
  color: red;
}

.text-secondary {
  color: gray;
}

.input-group {
  display: flex;
  gap: 4px;
}

.btn-verify {
  height: 30px;
}

.verify-select-box {
  height: 30px;
  width: 73px;
}


.btn-primary {
  background-color: #5925DC;
  color: #fff;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.3s;
  box-shadow: 0 2px 5px rgba(0, 105, 192, 0.3);
}


.form-content {
  // overflow: hidden;
  transition: max-height 0.3s ease;
  max-height: 2000px;
  /* large enough to show full content */
}

.form-content.collapsed {
  max-height: 0;
}

.edit-container {
  width: 100%;
  display: flex;
  gap: 20px;
}